.vs/sqldba/v17/DocumentLayout.json
.vs/sqldba/v17/DocumentLayout.backup.json
.vs/sqldba/v17/.wsuo
.vs/sqldba/FileContentIndex/e6d7b8ed-e84d-46fe-97a1-9796c93ee867.vsidx
.vs/sqldba/FileContentIndex/e30e7f0b-50f9-4a3a-b3d1-b9d8292d60c4.vsidx
.vs/sqldba/FileContentIndex/d5e5061a-dd70-4bde-b3ed-4bcbd62123ce.vsidx
.vs/sqldba/FileContentIndex/038015a4-2748-4daf-a78d-85ea2cdd7e80.vsidx
.vs/slnx.sqlite
.vs/slnx.sqlite
*.sqlite
